body {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#gamePage {
    display: block;
    margin: auto;
    
    width: 150vh;
    height: 100vh;
}